@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-green: #859573;
  --color-yellow: #f8fd6a;
  --color-yellow-light: #fbfdc9;
  --color-beige: #f0f0e6;
  --color-grey: #f7f7f7;
  --color-black: #000000;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: var(--color-beige);
}

h1 {
  color: var(--color-green);
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

/* START */

.header-start {
  background-image: url(./img/bg-start.jpg);
  background-position: center;
  background-size: cover;
}

.start-box {
  background-image: url(./img/start-box-bg@2x.png);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 900px 600px;
  padding: 30vh 0px;
  color: var(--color-green);
}

.start-h2 {
  color: var(--color-green);
  font-size: 2rem;
  font-weight: 400;
  padding: 10px 0px;
}

.text-over {
  text-transform: uppercase;
  font-weight: 600;
}

.text-under {
  text-transform: uppercase;
}

.start-circle {
  position: fixed;
  top: 30px;
  left: 70px;
}

.our-vision {
  color: var(--color-green);
  background-image: url(./img/our-vision-bg-h.png);
  height: 100%;
  width: 100%;
  background-size: 100%;
  overflow: visible;
  position: fixed;
  top: 65vh;
  padding: 200px 50px;
}
