@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-green: #859573;
  --color-yellow: #f8fd6a;
  --color-yellow-light: #fbfdc9;
  --color-beige: #f0f0e6;
  --color-grey: #f7f7f7;
  --color-black: #000000;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: var(--color-grey);
}

h1 {
  color: var(--color-green);
  font-size: 2.5rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 10px;
}

h3 {
  font-size: 1.6rem;
  margin: 10px;
}

h4 {
  font-size: 1.1rem;
}
.h4-start {
  text-align: left;
  text-transform: uppercase;
  padding-left: 40px;
}

.text-small {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 20px;
}

.text-fat {
  font-weight: 600;
}

.text-right{
  font-size: 0.8rem;
  font-weight: 600;
  text-align: right;
  position: absolute;
  right: 50px;
  top: 65vh;
}

.text-fat-big{
  font-weight: 600;
  font-size: 1.1rem;

}
.text-fat-big-upper{
  font-weight: 600;
  font-size: 1.1rem;
  padding-top: 10px;
  text-transform: uppercase;
}

button {
  background: var(--color-green);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: inherit;
  border-radius: 22px;
}

.btn-primary {
  padding: 10px 20px;
  margin: 20px;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: none;
}

.btn-middle {
  font-size: 0.9rem;
  padding: 8px 15px;
}

.saved-items {
  background-color: var(--color-grey);
}

/* NAV  */

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-beige);
  height: 65px;
  padding: 20px;
  text-transform: uppercase;
  border: none;
}

ul {
  list-style: none;
  display: flex-end;
}
ul li {
  display: inline-block;
  align-items: right;
  margin-right: 20px;
}
ul li:hover {
  color: black;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
  display: inline-block;
}

/* a:hover,
a:active {
  border-bottom: 4px solid var(--color-green);
} */

.btn-myPage a:hover,
a:active {
  border: none;
}

/* START */

.header-start {
  background: url(./img/header-start2@2x.png) no-repeat bottom;
  background-color: var(--color-yellow-light);
  background-size: cover;
  min-height: 550px;
  min-width: 100%;
}

.start-box {
  background-image: url(./img/start-box-bg@2x.png);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px 500px;
  padding: 30vh 0px;
  color: var(--color-green);
}

.start-h2 {
  color: var(--color-green);
  font-size: 2rem;
  font-weight: 400;
  padding: 10px 0px;
}

.text-over {
  text-transform: uppercase;
  font-weight: 600;
}

.text-under {
  text-transform: uppercase;
}

.start-circle {
  position: absolute;
  top: 100px;
  left: 70px;
}

.our-vision {
  color: var(--color-green);
  background-color: var(--color-yellow-light);
  padding: 30px 150px 60px 150px;
}

.start-planet {
  position: absolute;
  top: 70vh;
  right: 70px;
}

.text-container {
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.recipes-carousel {
  height: 500px;
  background-color: var(--color-grey);
  width: 100%;
  display: relative;
  padding: 0;
  margin: 0;
  padding-top: 50px;
}

/* BANNER */
.banner {
  background-image: url(./img/vegan-banner.png);
  height: 450px;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* RECIPES */

.header-recipes {
  background: url(./img/header-beetroot.jpg) no-repeat bottom;
  background-color: var(--color-yellow-light);
  background-size: cover;
  min-height: 550px;
  min-width: 100%;
}

/* SEARCH */

@media screen and (max-width: 960px) {
  .btn-search {
    margin: 0px;
    padding: 0px;
  }
  input {
    margin: 10px 10px 10px 10px;
  }
}
.search-container {
  background-color: var(--color-green);
  vertical-align: middle;
  color: var(--color-beige);
  text-align: left;
  padding: 30px 20% 40px 20%;
}

input {
  border: none;
  text-align: center;
  border-radius: 20px;
  height: 40px;
  width: 350px;
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 0.8rem;
}

select {
  border: none;
  text-align: center;
  border-radius: 20px;
  height: 40px;
  width: 200px;
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-search {
  background: var(--color-grey);
  width: 100px;
  color: black;
  border: none;
  padding: 5px 10px;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: inherit;
  border-radius: 22px;
}
input.btn-filter {
  display: none;
}
input.btn-filter + label {
  background: var(--color-grey);
  color: black;
  padding: 10px 20px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 22px;
  margin-left: 20px;
}
/* input.btn-filter:not(:checked) + label:hover {
  font-weight: 600;
} */
input.btn-filter + label:active,
input.btn-filter:checked + label {
  color: black;
  background: var(--color-yellow);
}

/* SINGLE RECIPE */
section.hero-image img {
  /*width: 100%; */
  object-fit: cover;
  object-position: center;
  height: 65vh;
  width: 100%;
}

h1.single-recipe-heading {
  color: var(--color-black);
  text-transform: uppercase;
  text-align: left;
}

.single-recipe-btn {
  transform: scale(1.5);
  margin-top: 1rem;
}

.single-recipe-title {
  display: flex;
  justify-content: space-between;
  margin: 4rem;
  margin-top: 6rem;
}

.single-recipe-container {
  margin: 4rem;
  display: flex;
  text-align: left;
  line-height: 2;
}

.ingredients {
  width: 50%;
}

.ingredients h3,
.instructions h3 {
  text-transform: uppercase;
  margin: 0;
}

.instructions {
  width: 50%;
}

.ingredient-list li {
  display: block;
}

/* ABOUT */

.header-about {
  background: url(./img/about-bg.png) no-repeat bottom;
  background-color: var(--color-yellow-light);
  background-size: cover;
  min-height: 550px;
  min-width: 100%;
}

.logo-about {
  margin: auto;
  padding-top: 20vh;
}

.about-h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 10px 0px;
}

.about {
  background-color: var(--color-green);
  color: white;
  padding: 70px 20vw 100px 20vw;
}

.about-planet {
  position: absolute;
  top: 55vh;
  right: 70px;
}

.text-under-small > p {
  font-size: 1rem;
  padding: 20px;
  text-decoration: underline;
}

/* PRENUMERATION */

.prenumeration {
  background: url(./img/paper-bg.jpg) no-repeat bottom;
  background-color: var(--color-yellow-light);
  background-size: cover;
  min-height: 550px;
  min-width: 100%;
  padding: 100px 20vw;
}

.icon-prenumeration {
  margin-bottom: 30px;
}

/* FOOTER  */

footer {
  background-color: var(--color-beige);
  height: 300px;
  margin: auto;
  padding-top: 100px;
}

.nav-footer > li {
  font-size: 0.8rem;
  border-bottom: 1px solid black;
  list-style: initial;
}

.nav-footer > ul {
  display: block;
  list-style-type: disc;
}

/**** navbar *****/
.navbar {
  background-color: var(--color-beige);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav-logo {
  color: #859573;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  /* margin-right: 2rem; */
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0rem 1rem;
  height: 100%;
  /* border-bottom: 3px solid transparent; */
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: var(--color-beige);
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: black;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: black;
  }
}

/***** login compinent ****/
.registrate_container > form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input > button {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin: 5px;
}

/* MYPAGES */

.choose {
  padding-top: 50px;
}

.shoppinglist {
  background-color: var(--color-yellow-light);
  padding: 10vh 20vw;
}

.table-shoppinglist {
  text-align: left;
  width: 40vw;
  font-size: 0.9rem;
  border-collapse: collapse;
  border-spacing: 2px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

tr {
  border-bottom: 1px solid black
}


td {
  height: 35px;
  padding: 5px;
  border-right: none; 
  border-left: none;
}
.fat {
  font-weight: 700;
}

.checked {
	-webkit-appearance: none;
	margin: 10px;
	border: 1px solid black;
  padding: 5px;
  width: 20px;
  height: 20px;
	border-radius: 3px;
	display: inline-block;
  position: relative;
 
}
.checked:active, .checked:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checked:checked {
	border: 1px solid black;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: black;
}
.checked:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: black;
}

.add-article {
  width: 250px;
}

.count-shoppinglist {
  width: 150px;
  margin-right: 20px;
}

.saved-items {
  padding: 50px;
}

.saved-recieps {
  margin: 30px;
}

.thumbs {
  padding: 0px 20px;
}

/***Recipes View***/
.Recipe-Grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 15px;
  grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
  background-color: #f7f7f7;
}
.Recipe-Card {
  margin: 16px 40px;
  background-color: white;
  max-width: 312px;
  min-height: 290px;
}
.Recipe-Card {
  transition: transform .5s ease; 
  box-shadow: 3px 3px 3px #9e9e9e;
}
.Recipe-Card:hover {
  transform: scale(1.07);
  cursor: pointer;
}

/*** My Favorite Recipes**/
.Favorite-Recipes-Grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 15px;
  grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
}
.Favorite-Recipes-Card {
  margin: 16px 40px;
  max-width: 300px;
}
.Favorite-Recipes-Card figure {
  margin-top: 3px;
  background-color: white;
  box-shadow: 3px 3px 3px #9e9e9e;
  transition: transform .5s ease; 
  height: 270px;
} 
.Favorite-Recipes-Card p {
  font-size: 18px;
}
.Favorite-Recipes-Card img {
  width: 300px;
  height: 200px;
}